.photoCover {
  position: relative;
  height: 70vh;
}

.centeredStuff {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.photoCoverContainer {
  background-color: black;
}
