@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Regular.woff2?v=3.18") format("woff2"),
    url("../fonts/Inter/Inter-Regular.woff?v=3.18") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Italic.woff2?v=3.18") format("woff2"),
    url("../fonts/Inter/Inter-Italic.woff?v=3.18") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter/Inter-SemiBold.woff2?v=3.18") format("woff2"),
    url("../fonts/Inter/Inter-SemiBold.woff?v=3.18") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Bold.woff2?v=3.18") format("woff2"),
    url("../fonts/Inter/Inter-Bold.woff?v=3.18") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

:root {
  --max-width: 898px;
  --white: hsla(0, 0%, 100%, 0.9);
  --black: #37352f;
  --header-border-bottom: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.light-mode {
  --bg-color: white;
  --textColor: #37352f;
}

.dark-mode {
  --bg-color: #1d1d1d;
  --textColor: hsla(0, 0%, 100%, 0.9);
}

body.light-mode {
  background-color: white;
  color: var(--textColor);
  transition: 0.2s;
}

body.dark-mode {
  background-color: #1d1d1d;
  color: var(--textColor);
  transition: 0.2s;
}

.globalContainer {
  max-width: var(--max-width);
  margin: auto;
  padding: 14px;
}
